//BRAND COLORS
$text-color: darken(#fff, 40%);
$brand-primary: #0073b5;
$brand-details: #22baaa;
$brand-dark-color: #2a525d;
$brand-danger: darken(red, 10%);

// units
$header-height: 65px;
$default-padding: 10px;
$aside-width: 70px;
$aside-open-width: 300px;
